
# ------------------------------------------------------------------------
# REQUIRED ENV VARIABLES
# ------------------------------------------------------------------------

# AUTH
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:8080
BETTER_AUTH_URL=http://localhost:3000
ALLOWED_API_ORIGINS=http://localhost:5173,http://localhost:3000,https://irere.dev
PORT=4000
BRAIN_ENCRYPTION_KEY=my_encryption_key

# DATABASE
# You can grab this from the Supabase dashboard by pressing the "Connect" button in the upper navbar, or pass in your own connection string to a postgres instance

DATABASE_URL=
PROD_DATABASE_URL=

# RESEND 
RESEND_API_KEY=your_api_key
RESEND_DOMAIN=irere.dev

# GITHUB
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# REDIS
# provider's Redis URL. You can get a free hosted one at Upstash :)
REDIS_URL=redis://localhost:6379
